# DA Challenge
## Trang-Nhung Pham
1 . **Item type checking function**

In [1]:
list = [1,1,2,'pisa',3,5,8,13,21,'fibonacci',34,55,89,144,'sequence']

In [2]:
def check(item):
    if type(item) == str:
        return len(item)
    if type(item) == int:
        return item/2

In [3]:
newlist = []

In [5]:
for item in list:
    new_item = check(item)
    newlist.append(new_item)

In [6]:
newlist

[0.5, 0.5, 1.0, 4, 1.5, 2.5, 4.0, 6.5, 10.5, 9, 17.0, 27.5, 44.5, 72.0, 8]

In [8]:
list[3]

'pisa'

In [9]:
newlist[3]

4

2 . **Table breakdown**

In [10]:
CID = [1,2,3,4,5,6,7,8]

In [38]:
age = [19,25,41,37,64,50,18,55]
Website = ['NBC','New York Times','Facebook','Twitter','Buzzfeed','CBS','The Guardian','The Google News']
Click = [1,0,0,1,1,0,0,1]

In [40]:
CustomerAge = dict(zip(age,CID))
CustomerWebsite = dict(zip(Website,CID))
CustomerClick = dict(zip(Click,CID))

* Categorizing outlets*

In [30]:
broadcaster = ['CBS','NBC']
broadsheet = ['New York Times','The Guardian']
digital = ['Facebook','Twitter','The Google News','Buzzfeed']

In [31]:
n = {}
for k,v in CustomerWebsite.items():
    for i in broadsheet:
        if i==k:
            n[k]=v
            print ('customer',n[k],'visited a broadsheet')
    for e in broadcaster:
        if e==k:
            n[k]=v
            print ('customer',n[k],'visited a broadcaster')
    for f in digital:
        if f==k:
            n[k]=v
            print ('customer',n[k],'visited a digital site')

customer 1 visited a broadcaster
customer 2 visited a broadsheet
customer 3 visited a digital site
customer 4 visited a digital site
customer 5 visited a digital site
customer 6 visited a broadcaster
customer 7 visited a broadsheet
customer 8 visited a digital site

Another way to do it:

In [53]:
BS = []
BC = []
DO = []
n = {}
for k,v in CustomerWebsite.items():
    for i in broadsheet:
        if i==k:
            n[k]=v
            BS.append(n[k])
    for e in broadcaster:
        if e==k:
            n[k]=v
            BC.append(n[k])
    for f in digital:
        if f==k:
            n[k]=v
            DO.append(n[k])

In [54]:
print ('Customers',BS,'visited broadsheets')
print ('Customers',BC,'visited broadcasters')
print ('Customers',DO,'visited digital outlets')

Customers [2, 7] visited broadsheets
Customers [1, 6] visited broadcasters
Customers [3, 4, 5, 8] visited digital outlets

* *Categorizing Age*

In [41]:
a = {}
for k,v in CustomerAge.items():
    if k < 35:
        a[k]=v
        print (v,'is younger than 35')
    else:
        print (v,'is not younger than 35')

1 is younger than 35
2 is younger than 35
3 is not younger than 35
4 is not younger than 35
5 is not younger than 35
6 is not younger than 35
7 is younger than 35
8 is not younger than 35

Similarly, another way to do it

In [51]:
Under35 = []
Over35 = []
a = {}
for k,v in CustomerAge.items():
    if k > 35:
        a[k]=v
        Over35.append(a[k])  
    elif k < 35:
        a[k]=v
        Under35.append(a[k])
    elif k == 35:
        print ('Customer',v,'is 35')

In [52]:
print ('Customers',Over35,'are older than 35')
print ('Customers',Under35,'are younger than 35')

Customers [3, 4, 5, 6, 8] are older than 35
Customers [1, 2, 7] are younger than 35

* *table issue*
I think there should be a function to form table from lists and dictionaries, and vice versa, turn table into lists and dictionaries, but I havent found out the right way to do it.

<table>
<td>CID</td>
<td>Age</td>
<td>Website</td>
<td>Click</td>
</tr>
<tr>
<td>1</td>
<td>19</td>
<td>NBC</td>
<td>1</td>
</tr>
<tr>
<td>2</td>
<td>25</td>
<td>New York Times</td>
<td>0</td>
</tr>
<tr>
<td>3</td>
<td>41</td>
<td>Facebook</td>
<td>0</td>
</tr>
<tr>
<td>4</td>
<td>37</td>
<td>Twitter</td>
<td>1</td>
</tr>
<tr>
<td>5</td>
<td>64</td>
<td>Buzzfeed</td>
<td>1</td>
</tr>
<tr>
<td>6</td>
<td>50</td>
<td>CBS</td>
<td>0</td>
</tr>
<tr>
<td>7</td>
<td>18</td>
<td>The Guardian</td>
<td>0</td>
</tr>
<tr>
<td>8</td>
<td>55</td>
<td>The Google News</td>
<td>1</td>
</tr>
</table>

In [4]:
data = [[1,19,'NBC',1],
         [2,25,'New York Times',0],
        [3,41,'Facebook',0],
        [4,37,'Twitter',1],
        [5,64,'Buzzfeed',1],
        [6,50,'CBS',0],
        [7,18,'The Guardian',0],
        [8,55,'The Google News',1]]

In [5]:
col_width = max(len(word) for row in data for word in row) + 2  # padding
for row in data:
    print " ".join(word.ljust(col_width) for word in row)

SyntaxError: invalid syntax (<ipython-input-5-ef99be7911bd>, line 3)

In [6]:
widths = [max(map(len, col)) for col in zip(*data)]
for row in data:
    print "  ".join((val.ljust(width) for val, width in zip(row, widths)))

SyntaxError: invalid syntax (<ipython-input-6-f398264a2c17>, line 3)

In [29]:
Customer1 = [1,19,'NBC',0]
Customer2 = [2,25,'New York Times',0]
Customer3 = [3,41,'Facebook',0]
Customer4 = [4,37,'Twitter',1]
Customer5 = [5,64,'Buzzfeed',1]
Customer6 = [6,50,'CBS',0]
Customer7 = [7,18,'The Guardian',0]
Customer8 = [8,55,'The Google News',1]
Customer = []
Customer.append(Customer1)
Customer.append(Customer2)
Customer.append(Customer3)
Customer.append(Customer4)
Customer.append(Customer5)
Customer.append(Customer6)
Customer.append(Customer7)
Customer.append(Customer8)
print (Customer)

[[1, 19, 'NBC', 0], [2, 25, 'New York Times', 0], [3, 41, 'Facebook', 0], [4, 37, 'Twitter', 1], [5, 64, 'Buzzfeed', 1], [6, 50, 'CBS', 0], [7, 18, 'The Guardian', 0], [8, 55, 'The Google News', 1]]