In [1]:
import pandas as pd
import pickle

In [2]:
tweet=pd.read_pickle('NhungPham_EN.pkl')
sentiment=pd.read_pickle('Trang-Nhung Pham - NhungPham_EN_completed.pkl')
retweet=pd.read_pickle('retweets.pkl')

In [3]:
def word_present(text, query):
    import re
    text = str(text).lower()
    newquery = []
    for word in query:
        newquery.append(str(word).lower())
    tokens = re.findall(r"[\w']+|[.,!?;$@#]", text)
    
    for word in newquery:
        if word in tokens:
            return 1
    return 0

In [4]:
tweet['data']=tweet['text'].apply(word_present,args=(['data']))
tweet['social media']=tweet['text'].apply(word_present,args=(['social media']))
tweet['online']=tweet['text'].apply(word_present,args=(['online']))

In [5]:
def categorise_df(row):
    row['text includes'] = "text includes"
    if (row['data'] == 1) and (row['social media'] == 1) and (row['online'] == 1):
        row['text includes'] = 'All'
    if (row['data'] == 1) and (row['social media'] == 0) and (row['online'] == 0):
        row['text includes'] = 'data'
    if (row['data'] == 0) and (row['social media'] == 1) and (row['online'] == 0):
        row['text includes'] = 'social media'
    if (row['data'] == 0) and (row['social media'] == 0) and (row['online'] == 1):
        row['text includes'] = 'online'
    if (row['data'] == 1) and (row['social media'] == 1) and (row['online'] == 0):
        row['text includes'] = 'data and social media'
    if (row['data'] == 1) and (row['social media'] == 0) and (row['online'] == 1):
        row['text includes'] = 'data and online'
    if (row['data'] == 0) and (row['social media'] == 1) and (row['online'] == 1):
        row['text includes'] = 'social media and online'
    if (row['data'] == 0) and (row['social media'] == 0) and (row['online'] == 0):
        row['text includes'] = 'Nothing'
    return row

In [6]:
tweet=tweet.apply(categorise_df,axis=1)

In [7]:
tweet['text includes'].value_counts()

data                       311
data and social media       42
All                         13
Nothing                      6
social media                 1
social media and online      1
Name: text includes, dtype: int64

In [8]:
tweet.groupby('text includes', as_index=False)['from_user_followercount'].mean()

             text includes  from_user_followercount
0                      All              1555.461538
1                  Nothing               342.333333
2                     data              2433.453376
3    data and social media              7842.619048
4             social media              7159.000000
5  social media and online              3247.000000

Above: comparing means of followers by categories

In [9]:
sentiment['negative']=sentiment['negative'].apply(pd.to_numeric)
sentiment['positive']=sentiment['positive'].apply(pd.to_numeric)
sentiment['neutral']=sentiment['neutral'].apply(pd.to_numeric)
sentiment['sentiment']=sentiment['negative']+sentiment['positive']+sentiment['neutral']

In [10]:
data=pd.merge(tweet,sentiment,how='inner',on=['id','text'])

In [11]:
data.shape

(13, 44)

In [12]:
data.groupby('text includes', as_index=False)['sentiment'].mean()

           text includes  sentiment
0                Nothing   2.000000
1                   data   0.090909
2  data and social media   0.000000

Above: comparing sentiment by categories. As the problem of reduced data hasn't been solved, data here is much less than it should be

In [13]:
retweet=retweet.rename(columns = {'retweet_id':'id'})

In [14]:
def is_rt(text):
    text = text.split()
    if text[0] == 'RT':
        return 1
    return 0

In [15]:
tweet['is_retweet'] = tweet['text'].apply(is_rt)

In [16]:
only_tweet=tweet[tweet['is_retweet']==0]

In [17]:
full_tweet=pd.merge(only_tweet,retweet,how='left', on='id')
full_tweet['retweets_total']=full_tweet['retweets_total'].fillna(0)

In [18]:
full_tweet

,id,time,created_at,from_user_name,text,filter_level,possibly_sensitive,withheld_copyright,withheld_scope,truncated,...,from_user_favourites_count,from_user_listed,from_user_withheld_scope,from_user_created_at,data,social media,online,text includes,is_retweet,retweets_total
0,828544758989602048,1486375438,2017-02-06 10:03:58,MarketingJobs4U,"Senior Digital Analytics Manager - £70,000 (+1...",low,0.0,NaN,NaN,0,...,0,249,NaN,2013-02-19 17:41:37,1,0,0,data,0,0.0
1,828553689140980992,1486377567,2017-02-06 10:39:27,guzogang,"Senior Digital Analytics Manager - £70,000 (+1...",low,0.0,NaN,NaN,0,...,2,336,NaN,2009-05-30 22:48:12,1,0,0,data,0,0.0
2,828556421822311936,1486378219,2017-02-06 10:50:19,ShikhaBakshi,Fractal Analytics is hiring a Principal Consul...,low,0.0,NaN,NaN,0,...,2,24,NaN,2012-09-25 06:57:33,1,1,0,data and social media,0,0.0
3,828559249773059968,1486378893,2017-02-06 11:01:33,DIMHouston,Test Your Mettle: Adobe Digital Analytics Comp...,low,0.0,NaN,NaN,0,...,869,152,NaN,2014-07-21 18:11:59,1,0,0,data,0,0.0
4,828576889560109056,1486383099,2017-02-06 12:11:39,Optizent,Digital Analytics Speakers Required https://t....,low,0.0,NaN,NaN,0,...,6,97,NaN,2009-03-13 05:15:28,1,0,0,data,0,0.0
5,828619425419030016,1486393240,2017-02-06 15:00:40,HeadHunterJames,Senior Analyst (Digital Analytics) - Rogers Co...,low,0.0,NaN,NaN,0,...,9,9,NaN,2010-01-08 16:48:19,1,0,0,data,0,0.0
6,828623455239036032,1486394201,2017-02-06 15:16:41,tmj_aus_adv,Can you recommend anyone for this #job? Senior...,low,0.0,NaN,NaN,0,...,0,335,NaN,2009-03-12 03:53:42,1,0,0,data,0,0.0
7,828655123018632960,1486401751,2017-02-06 17:22:31,Optizent,Senior Digital Analytics Specialist at Consume...,low,0.0,NaN,NaN,0,...,6,97,NaN,2009-03-13 05:15:28,1,0,0,data,0,0.0
8,828660295165997056,1486402984,2017-02-06 17:43:04,nicolemleite,Digital Analytics Weekly Update is out! https:...,low,0.0,NaN,NaN,0,...,87,99,NaN,2011-10-31 03:21:38,1,0,0,data,0,0.0
9,828664538157424000,1486403996,2017-02-06 17:59:56,TopTalentMatch,Wanted: Digital Analytics talents to bring in ...,low,0.0,NaN,NaN,0,...,32,1,NaN,2009-12-19 14:21:27,1,1,0,data and social media,0,0.0
10,828670925893664000,1486405519,2017-02-06 18:25:19,HoloMarkeD,@_robindickinson I think the argument is digit...,low,NaN,NaN,NaN,0,...,2835,375,NaN,2007-11-08 11:03:30,0,1,1,social media and online,0,0.0
11,828678402936802944,1486407302,2017-02-06 18:55:02,redcatandy,Head of Customer/Digital Analytics #job in #Lo...,low,0.0,NaN,NaN,0,...,27,156,NaN,2016-11-17 12:05:42,1,0,0,data,0,0.0
12,828685452223787008,1486408982,2017-02-06 19:23:02,Optizent,Explore A Career in Digital Analytics https://...,low,0.0,NaN,NaN,0,...,6,97,NaN,2009-03-13 05:15:28,1,1,0,data and social media,0,0.0
13,828699952360467968,1486412439,2017-02-06 20:20:39,Optizent,"#measure Senior Analyst, Digital Analytics Job...",low,0.0,NaN,NaN,0,...,6,97,NaN,2009-03-13 05:15:28,1,0,0,data,0,0.0
14,828704074983960064,1486413422,2017-02-06 20:37:02,richmathiasblog,Digital analytics industry veteran roundup: #w...,low,0.0,NaN,NaN,0,...,0,591,NaN,2014-10-21 19:44:49,1,0,0,data,0,0.0
15,828720830918033024,1486417417,2017-02-06 21:43:37,nicolemleite,Digital Analytics Weekly Update is out! https:...,low,0.0,NaN,NaN,0,...,87,99,NaN,2011-10-31 03:21:38,1,0,0,data,0,0.0
16,828732615284891008,1486420227,2017-02-06 22:30:27,NablerWA,5 Marketing blind spots that Digital Analytics...,low,0.0,NaN,NaN,0,...,360,759,NaN,2009-07-08 11:45:02,1,0,0,data,0,0.0
17,828734517179358976,1486420680,2017-02-06 22:38:00,Optizent,"Digital Analytics Manager in San Francisco, CA...",low,0.0,NaN,NaN,0,...,6,97,NaN,2009-03-13 05:15:28,1,0,0,data,0,0.0
18,828742906643102976,1486422680,2017-02-06 23:11:20,kristasande,Chart form follows data. Don't choose a format...,low,NaN,NaN,NaN,0,...,438,217,NaN,2009-06-09 13:14:05,1,1,0,data and social media,0,0.0
19,828749693404404992,1486424298,2017-02-06 23:38:18,Optizent,"#measure Manager, Digital Analytics at MEC, Ne...",low,0.0,NaN,NaN,0,...,6,97,NaN,2009-03-13 05:15:28,1,0,0,data,0,0.0
20,828777463400583040,1486430919,2017-02-07 01:28:39,etrendbiz,SEO - Compare 16 leading digital analytics pla...,low,0.0,NaN,NaN,0,...,4,74,NaN,2016-11-24 07:44:39,1,0,0,data,0,0.0
21,828793206263335936,1486434673,2017-02-07 02:31:13,LEGO_Careers,Can you recommend anyone for this #job? Digita...,low,0.0,NaN,NaN,0,...,0,1037,NaN,2013-09-23 18:45:58,1,0,0,data,0,0.0
22,828813422452092032,1486439493,2017-02-07 03:51:33,Optizent,Digital Analytics Speakers Required https://t....,low,0.0,NaN,NaN,0,...,6,97,NaN,2009-03-13 05:15:28,1,0,0,data,0,0.0
23,828843349582897024,1486446628,2017-02-07 05:50:28,Optizent,#measure Senior Analyst Digital Analytics - An...,low,0.0,NaN,NaN,0,...,6,97,NaN,2009-03-13 05:15:28,1,0,0,data,0,0.0
24,828845533938716032,1486447149,2017-02-07 05:59:09,DEJobConnecter,#DelawareJobs #DEjobs #jobs Card Digital Analy...,low,0.0,NaN,NaN,0,...,0,28,NaN,2013-02-06 00:32:12,1,0,0,data,0,0.0
25,828858718326434944,1486450292,2017-02-07 06:51:32,Optizent,"#measure Digital Analytics Specialist, at RevS...",low,0.0,NaN,NaN,0,...,6,97,NaN,2009-03-13 05:15:28,1,0,0,data,0,0.0
26,828861837580045952,1486451036,2017-02-07 07:03:56,HoloMarkeD,The future of digital analytics is bright! htt...,low,0.0,NaN,NaN,0,...,2836,376,NaN,2007-11-08 11:03:30,1,0,0,data,0,0.0
27,828871703333891968,1486453388,2017-02-07 07:43:08,AspirationDigi,"Head, Digital Analytics https://t.co/rLDbFcl36...",low,0.0,NaN,NaN,0,...,0,344,NaN,2016-03-16 10:32:33,1,0,0,data,0,0.0
28,828871827606744960,1486453418,2017-02-07 07:43:38,growdigitally,"Head, Digital Analytics https://t.co/MyXwihS9rK",low,0.0,NaN,NaN,0,...,9,816,NaN,2014-12-18 07:22:23,1,0,0,data,0,0.0
29,828877677092297984,1486454812,2017-02-07 08:06:52,juarezjunior,IBM Digital Analytics Next Generation User Int...,low,0.0,NaN,NaN,0,...,5693,823,NaN,2008-07-23 17:25:11,1,0,0,data,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
277,831329436540731008,1487039357,2017-02-14 02:29:17,ppant_sg,Circus Social partners with e27 for digital an...,low,0.0,NaN,NaN,0,...,20,2,NaN,2010-09-29 09:44:03,1,0,0,data,0,0.0
278,831336424930545024,1487041023,2017-02-14 02:57:03,Optizent,"#measure Digital Analytics Specialist, at RevS...",low,0.0,NaN,NaN,0,...,6,97,NaN,2009-03-13 05:15:28,1,0,0,data,0,0.0
279,831346922539588992,1487043526,2017-02-14 03:38:46,MEOjobs,"CBS Interactive (Burbank, CA) seeks Manager, S...",low,0.0,NaN,NaN,0,...,3363,256,NaN,2014-06-10 14:45:32,1,0,0,data,0,0.0
280,831359578965053056,1487046544,2017-02-14 04:29:04,Optizent,Digital Analytics Speakers Required https://t....,low,0.0,NaN,NaN,0,...,6,97,NaN,2009-03-13 05:15:28,1,0,0,data,0,0.0
281,831382136523329024,1487051922,2017-02-14 05:58:42,Optizent,#measure Senior Analyst Digital Analytics - An...,low,0.0,NaN,NaN,0,...,6,97,NaN,2009-03-13 05:15:28,1,0,0,data,0,0.0
282,831384163408227968,1487052405,2017-02-14 06:06:45,NablerWA,@apirzadaa Thanks for the like. We are the Dig...,low,0.0,NaN,NaN,0,...,362,759,NaN,2009-07-08 11:45:02,1,0,0,data,0,0.0
283,831384189123457024,1487052411,2017-02-14 06:06:51,NablerWA,@border7 Thanks for the follow. We are the Dig...,low,0.0,NaN,NaN,0,...,362,759,NaN,2009-07-08 11:45:02,1,0,0,data,0,0.0
284,831390023379398016,1487053802,2017-02-14 06:30:02,Optizent,Senior Digital Analytics Specialist at Consume...,low,0.0,NaN,NaN,0,...,6,97,NaN,2009-03-13 05:15:28,1,0,0,data,0,0.0
285,831406235207470976,1487057667,2017-02-14 07:34:27,smartwebye,Digital Analytics Association Symposium i http...,low,0.0,NaN,NaN,0,...,16,34,NaN,2014-02-09 15:09:11,1,1,1,All,0,0.0
286,831406309589340032,1487057685,2017-02-14 07:34:45,smartwebye,Digital Analytics Association Symposium i http...,low,0.0,NaN,NaN,0,...,16,34,NaN,2014-02-09 15:09:11,1,1,1,All,0,0.0
287,831443383239527936,1487066524,2017-02-14 10:02:04,SA__Digital,Manager Digital Analytics Implementation @DowJ...,low,0.0,NaN,NaN,0,...,0,11,NaN,2016-08-19 16:08:50,1,0,0,data,0,0.0
288,831445985909837056,1487067145,2017-02-14 10:12:25,LEGO_Careers,See our latest #Singapore #job and click to ap...,low,0.0,NaN,NaN,0,...,0,1026,NaN,2013-09-23 18:45:58,1,0,0,data,0,0.0
289,831448818243739008,1487067820,2017-02-14 10:23:40,BCCare,Got a burning ❤️ for analytics? Join the Digit...,low,0.0,NaN,NaN,0,...,12635,1288,NaN,2009-03-24 19:55:19,1,1,0,data and social media,0,0.0
290,831454062558208000,1487069070,2017-02-14 10:44:30,rajchatting0009,Circus Social partners with e27 for digital an...,low,NaN,NaN,NaN,0,...,3,0,NaN,2016-11-10 10:03:05,0,0,0,Nothing,0,0.0
291,831454251159256960,1487069115,2017-02-14 10:45:15,SJS_US,"Manager, Digital Analytics Implementation, #Es...",low,0.0,NaN,NaN,0,...,0,129,NaN,2016-09-21 18:56:45,1,0,0,data,0,0.0
292,831464316104822016,1487071515,2017-02-14 11:25:15,SJS_US,"Manager, Streaming and Digital Analytics, #Bur...",low,0.0,NaN,NaN,0,...,0,129,NaN,2016-09-21 18:56:45,1,0,0,data,0,0.0
293,831465534734626048,1487071806,2017-02-14 11:30:06,SJS_US,"Manager, Streaming and Digital Analytics, #San...",low,0.0,NaN,NaN,0,...,0,129,NaN,2016-09-21 18:56:45,1,0,0,data,0,0.0
294,831956876845842048,1487188951,2017-02-15 20:02:31,kstansberry,Here for today's #prprofs chat on #fakenews. P...,low,NaN,NaN,NaN,0,...,355,102,NaN,2008-04-23 03:28:50,0,0,0,Nothing,0,0.0
295,831972424484674944,1487192657,2017-02-15 21:04:17,Optizent,"#measure Manager, Digital Analytics at MEC, Ne...",low,0.0,NaN,NaN,0,...,6,97,NaN,2009-03-13 05:15:28,1,0,0,data,0,0.0
296,831982316461362944,1487195016,2017-02-15 21:43:36,nicolemleite,Digital Analytics Weekly Update is out! https:...,low,0.0,NaN,NaN,0,...,87,101,NaN,2011-10-31 03:21:38,1,0,0,data,0,0.0
297,832019329709272960,1487203841,2017-02-16 00:10:41,Optizent,Digital Analytics Speakers Required https://t....,low,0.0,NaN,NaN,0,...,6,97,NaN,2009-03-13 05:15:28,1,0,0,data,0,0.0
298,832031745994264064,1487206801,2017-02-16 01:00:01,Absolutdata,Investment is going bigger on #digital analyti...,low,0.0,NaN,NaN,0,...,490,2170,NaN,2009-06-22 04:02:05,1,0,0,data,0,0.0
299,832089198802803968,1487220499,2017-02-16 04:48:19,Optizent,Senior Digital Analytics Specialist at Consume...,low,0.0,NaN,NaN,0,...,6,97,NaN,2009-03-13 05:15:28,1,0,0,data,0,0.0
300,832102708031025024,1487223719,2017-02-16 05:41:59,NablerWA,@DonBurgess_ Thanks for the follow. We are the...,low,0.0,NaN,NaN,0,...,362,760,NaN,2009-07-08 11:45:02,1,0,0,data,0,0.0
301,832102749495926016,1487223729,2017-02-16 05:42:09,NablerWA,@JoyceBosc Thanks for the follow. We are the D...,low,0.0,NaN,NaN,0,...,362,760,NaN,2009-07-08 11:45:02,1,0,0,data,0,0.0
302,832102789190807040,1487223739,2017-02-16 05:42:19,NablerWA,@jan_murray Thanks for the follow. We are the ...,low,0.0,NaN,NaN,0,...,362,760,NaN,2009-07-08 11:45:02,1,0,0,data,0,0.0
303,832102826696248960,1487223748,2017-02-16 05:42:28,NablerWA,@carolebozkurt Thanks for the follow. We are t...,low,0.0,NaN,NaN,0,...,362,760,NaN,2009-07-08 11:45:02,1,0,0,data,0,0.0
304,832102881079627008,1487223761,2017-02-16 05:42:41,NablerWA,@AliMirza2k Thanks for the follow. We are the ...,low,0.0,NaN,NaN,0,...,362,760,NaN,2009-07-08 11:45:02,1,0,0,data,0,0.0
305,832102919780519040,1487223770,2017-02-16 05:42:50,NablerWA,@lisadanforth1 Thanks for the follow. We are t...,low,0.0,NaN,NaN,0,...,362,760,NaN,2009-07-08 11:45:02,1,0,0,data,0,0.0
306,832120154708286976,1487227879,2017-02-16 06:51:19,Optizent,Explore A Career in Digital Analytics https://...,low,0.0,NaN,NaN,0,...,6,97,NaN,2009-03-13 05:15:28,1,1,0,data and social media,0,0.0

Here the problem is clear: Id differs among the table (even though they should be definitely the same). However hopefully the code above works in merging tweets and retweets and therefore works well for the requirement.

In [19]:
tweet=pd.read_pickle('NhungPham_EN.pkl')
sentiment=pd.read_pickle('Trang-Nhung Pham - NhungPham_EN_completed.pkl')

In [23]:
len(tweet.merge(sentiment))

13

In [25]:
tweet['id'].describe()

count    3.740000e+02
mean     8.299913e+17
std      9.531119e+14
min      8.285404e+17
25%      8.291933e+17
50%      8.298195e+17
75%      8.308925e+17
max      8.321202e+17
Name: id, dtype: float64

In [27]:
sentiment['id'].describe()

count    3.740000e+02
mean     8.299913e+17
std      9.531119e+14
min      8.285404e+17
25%      8.291933e+17
50%      8.298195e+17
75%      8.308925e+17
max      8.321202e+17
Name: id, dtype: float64

In [28]:
tweet.iloc[0]['id']

828540415360003968

In [30]:
sentiment.iloc[1]['id']

828540731975401473

In [32]:
ids_tweet = tweet['id'].values.tolist()

In [33]:
ids_sent = sentiment['id'].values.tolist()

In [35]:
set(ids_sent) - set(ids_tweet)

{828540415360004096,
 828540731975401473,
 828540960443351041,
 828544758989602816,
 828553689140981760,
 828556421822312449,
 828559249773060096,
 828565053674749952,
 828565322907131904,
 828565538926362624,
 828576889560109057,
 828619425419030529,
 828623455239036929,
 828655123018633216,
 828664538157424641,
 828670925893664769,
 828671243708665857,
 828678402936803329,
 828699952360468480,
 828704074983960578,
 828720830918033408,
 828732615284891648,
 828734517179359232,
 828739103135059972,
 828742906643103745,
 828749693404405760,
 828777463400583172,
 828793206263336962,
 828813422452092934,
 828843349582897152,
 828845533938716672,
 828858718326435840,
 828861837580046336,
 828871692432838657,
 828871703333892096,
 828871827606745089,
 828877677092298752,
 828879934936514560,
 828879938820386817,
 828884864791371776,
 828891073460187136,
 828944064905084929,
 828944065001578496,
 828944065387438081,
 828944065404211200,
 828944065454600195,
 828951956198670336,
 828961065773903873,
 828965789952835585,
 828969955987185666,
 828976971698823168,
 828982953749409792,
 828985088520101888,
 828986074105995264,
 828994676082561025,
 829000115251773442,
 829001692179886080,
 829004520986406912,
 829004520994828289,
 829004521036709891,
 829004521972047874,
 829004523859492864,
 829018902743105536,
 829022604543537153,
 829026955307651072,
 829029127734906881,
 829029923461484544,
 829039654322081793,
 829049076834410496,
 829050008058081280,
 829050912425521156,
 829051251988000768,
 829052916002590721,
 829059697776934913,
 829062988447354881,
 829069499781427200,
 829072605839753217,
 829079567251886080,
 829083216111890433,
 829096189798862848,
 829096327799767041,
 829112907992477698,
 829118820858134530,
 829118822166704128,
 829159388560584708,
 829178084712652801,
 829178099958968320,
 829182930995994625,
 829187788528611328,
 829190427458863106,
 829192262064168961,
 829196408603414535,
 829196863672872961,
 829196910380609537,
 829199918514499593,
 829202814085787650,
 829205869275537409,
 829208980463480832,
 829224999705837568,
 829238705365872640,
 829254193227714560,
 829254342041534465,
 829258067040751616,
 829280632471699458,
 829284890805956608,
 829286083821240321,
 829290432718835712,
 829308563084414977,
 829310850771062787,
 829313608484081665,
 829330522711035905,
 829333146420334593,
 829336512416382976,
 829345947880562688,
 829356005704232962,
 829361506118574080,
 829364842351964161,
 829366829353168896,
 829366830414303233,
 829366831114809344,
 829366836118560769,
 829374530388889604,
 829377064520146945,
 829379439075037184,
 829380481061908481,
 829384041728266240,
 829385069081014273,
 829388669492592642,
 829392789557432320,
 829394090412371969,
 829396991063031808,
 829397893245235200,
 829400561413931009,
 829401843012947978,
 829416483868524553,
 829421537283493888,
 829427666222616576,
 829445605525168128,
 829449743088640005,
 829474905292959744,
 829533236355215362,
 829537985662160896,
 829571195729113088,
 829571260405276674,
 829571303493373952,
 829571382551777281,
 829571428148080640,
 829584102290395137,
 829607702032576514,
 829607996976144385,
 829608060536643584,
 829608332373655552,
 829608345124356097,
 829611016329822209,
 829614801269641216,
 829615901934702592,
 829629925917220865,
 829645883843211264,
 829647298380623872,
 829668641616584708,
 829675170390536193,
 829686325397831680,
 829689736289587200,
 829691619976761344,
 829702695950893058,
 829705910058700800,
 829705991583326208,
 829707458042011648,
 829707608282038272,
 829715970629521409,
 829718783954546688,
 829723724882571264,
 829733442573197313,
 829735074614632448,
 829747461241569281,
 829757312885673985,
 829759292349755392,
 829782140887764992,
 829797455445102592,
 829800671872421895,
 829807993881505793,
 829830992718397443,
 829833362609229824,
 829834805764358147,
 829836675903676418,
 829858149016489984,
 829859438353903616,
 829882261482962944,
 829895164038672384,
 829899270820077570,
 829900292619513857,
 829921822728605696,
 829929715808948226,
 829929744447655938,
 829929770804600833,
 829929795169374208,
 829929818498031618,
 829932617340379142,
 829979985553346560,
 830004304035643392,
 830007187401502720,
 830009262957019137,
 830009562186911745,
 830013029127487488,
 830017167500464128,
 830023263019552768,
 830032213353787393,
 830037356879212544,
 830063495974563840,
 830064707566465025,
 830070731014815745,
 830073521099255808,
 830079705642573825,
 830103913005203457,
 830120060261789696,
 830121660783144961,
 830138112269447168,
 830158385786003460,
 830160215760830468,
 830160760592560134,
 830170381558353921,
 830170519806685184,
 830170520880455680,
 830179544854323201,
 830188608678219776,
 830199162062860288,
 830203515771293701,
 830209173287796741,
 830209173522612224,
 830209259396878336,
 830212253794332672,
 830218126709006336,
 830245301353062400,
 830284511464132608,
 830286177944997888,
 830288560221720576,
 830297558392004608,
 830326025426984960,
 830358694076440576,
 830360808790093825,
 830373127435730945,
 830374573866614785,
 830375580755427328,
 830376298358915072,
 830376363378892800,
 830400451430477824,
 830406972268699649,
 830409538121641987,
 830410234313183233,
 830437197404794881,
 830461413328093189,
 830487362987712512,
 830509006368092160,
 830518016668372992,
 830519326260211716,
 830544442981482497,
 830548283797811201,
 830563572451311616,
 830582190908047364,
 830588363803676672,
 830588877308047360,
 830613999750246400,
 830620285929938947,
 830711963013353473,
 830743207814115329,
 830743330187206657,
 830792521173307393,
 830842142964723714,
 830843362714398720,
 830863372530941955,
 830889464713060356,
 830893509938814976,
 830896140170121216,
 830899737326866432,
 830915698775855105,
 830921931104870400,
 830939602651332608,
 830939710126174208,
 830940153107644417,
 830957800855515137,
 830974274194202624,
 830974301683671041,
 830974344054530049,
 830974416192364544,
 830974498631360512,
 830974522777939968,
 830998486929641476,
 831004075994935296,
 831066772392407042,
 831082716707721216,
 831083163472404481,
 831083464635977729,
 831086302644797440,
 831096398317809664,
 831099998637023235,
 831106490383544320,
 831108029772918789,
 831117017155383296,
 831157881462521856,
 831162886378635267,
 831174620183080961,
 831185730416283648,
 831185842521698305,
 831186264594472961,
 831197213862793216,
 831202842820169728,
 831206096253632516,
 831206651843723264,
 831213832408272896,
 831217911494647808,
 831231138786054144,
 831231433289105408,
 831244542305112067,
 831247963728928768,
 831248587396755456,
 831257541451644933,
 831265795888013313,
 831274391212158977,
 831287659335127041,
 831295906070794240,
 831295909141024768,
 831304696673484801,
 831305767021993984,
 831329436540731392,
 831336424930545664,
 831346922539589638,
 831358856563273728,
 831359578965053440,
 831382136523329537,
 831384163408228353,
 831384189123457025,
 831390023379398656,
 831406235207471104,
 831406309589340160,
 831429796169183233,
 831443383239528451,
 831445985909837824,
 831448818243739648,
 831449532244205569,
 831450973117743104,
 831454251159257088,
 831455690447286272,
 831456209689509888,
 831460982866247681,
 831464316104822784,
 831465534734626816,
 831480708610846720,
 831956876845842434,
 831972424484675586,
 831982316461363202,
 832019329709273088,
 832019800943640576,
 832031745994264577,
 832089198802804736,
 832102708031025152,
 832102749495926784,
 832102789190807552,
 832102826696249346,
 832102881079627778,
 832102919780519936,
 832120154708287488}